<a href="https://colab.research.google.com/github/joazunig/Math-152/blob/main/M152_Exploratory_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Collatz Conjecture
### By Jonathan Zuniga

In this report, I explored the Collatz conjecture with many positive integers $n$ to determine how quickly, how many steps it takes, the sequence of an integer until it hits the number $1$, and I used this to determine if the sequence of certain numbers relate to each other through patterns in the steps.

# Problem 1: Collatz Sequence Function

A function of the Collatz conjecture
would begin with an integer $n$, check if it is even or odd to divide it by $2$ or add one, and then repeat until it hits the number $1$, which I did here.

- NOTE: m is the sequence. I wasn't sure how to print/return without the brackets, so I kept it like this.

In [61]:
def Collatz_Sequence(n):
  x = n
  m = [x] 
  while x > 1:
    if x % 2 == 0:
      x = int(x / 2)
      m.append(x)
    else:
      x = int(3 * x + 1)
      m.append(x)
  return m

To check if this works, I checked to see if this function will mirror the example that was given: $n=3$ resulted in $3, 10, 5, 16, 8, 4, 2, 1$.

In [62]:
print(Collatz_Sequence(3))

[3, 10, 5, 16, 8, 4, 2, 1]

In [63]:
print(Collatz_Sequence(6))

[6, 3, 10, 5, 16, 8, 4, 2, 1]

In [64]:
print(Collatz_Sequence(9))

[9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

As we see in these three examples, this function does indeed take an integer $n$ as an input, and it prints the "Collatz" sequence until it hits the number $1$.

# Problem 2: Steps Until Smaller Integer Is Found

Here, I modified the function above to count the number of steps in the Collatz sequence until a *smaller* integer is found.

In [65]:
def Collatz_Sequence_Steps(n):
  x = n
  m = [x]
  steps = 0
  while x > (n - 1):
    if x % 2 == 0:
      x = int(x / 2)
      m.append(x)
      steps = steps + 1
    else:
      x = int(3 * x + 1)
      m.append(x)
      steps = steps + 1
  print(m)
  return steps

To check if this function worked, I checked if it mirrored the given example: $n=3$ would end with the sequence $3, 10, 5, 16, 8, 4, 2$ which reaches a number smaller than $3$ in $6$ steps.

In [44]:
print(Collatz_Sequence_Steps(3))

[3, 10, 5, 16, 8, 4, 2]
6

Another examples is when the starting number is even, it will end after one step, for example: $n=10$ would end with the sequence $10, 5$ which reaches a number smaller than $10$ in $1$ step.

In [79]:
print(Collatz_Sequence_Steps(10))

[10, 5]
1

As we see with these two examples of the function, the function gives us the number of steps when the sequence reaches a number smaller than $n$. This is called the "dropping time." The "dropping time" of $3$ is $6$.

# Problem 3: Collatz Conjecture Up To x

Here, I used the first function to generate the Collatz sequence for numbers up to 100 in a quick way by using a loop.

In [70]:
for i in range(1, 101):
  print("Number {}: {}".format(i, Collatz_Sequence(i)))

Number 1: [1]
Number 2: [2, 1]
Number 3: [3, 10, 5, 16, 8, 4, 2, 1]
Number 4: [4, 2, 1]
Number 5: [5, 16, 8, 4, 2, 1]
Number 6: [6, 3, 10, 5, 16, 8, 4, 2, 1]
Number 7: [7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 8: [8, 4, 2, 1]
Number 9: [9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 10: [10, 5, 16, 8, 4, 2, 1]
Number 11: [11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 12: [12, 6, 3, 10, 5, 16, 8, 4, 2, 1]
Number 13: [13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 14: [14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 15: [15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 16: [16, 8, 4, 2, 1]
Number 17: [17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 18: [18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 19: [19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 20: [20, 10, 5, 16, 8, 4, 2, 1]
Number 21: [21, 64, 32, 16, 8, 4, 2, 1]
Number 22: [22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 23: [23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 24: [24, 12, 6, 3, 10, 5, 16, 8, 4, 2, 1]
Number 25: [25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 26: [26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 27: [27, 82, 41, 124, 62, 31, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 28: [28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 29: [29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 30: [30, 15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 31: [31, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 32: [32, 16, 8, 4, 2, 1]
Number 33: [33, 100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 34: [34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 35: [35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 36: [36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 37: [37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 38: [38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 39: [39, 118, 59, 178, 89, 268, 134, 67, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 40: [40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 41: [41, 124, 62, 31, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 42: [42, 21, 64, 32, 16, 8, 4, 2, 1]
Number 43: [43, 130, 65, 196, 98, 49, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 44: [44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 45: [45, 136, 68, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 46: [46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 47: [47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 48: [48, 24, 12, 6, 3, 10, 5, 16, 8, 4, 2, 1]
Number 49: [49, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 50: [50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 51: [51, 154, 77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 52: [52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 53: [53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 54: [54, 27, 82, 41, 124, 62, 31, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 55: [55, 166, 83, 250, 125, 376, 188, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 56: [56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 57: [57, 172, 86, 43, 130, 65, 196, 98, 49, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 58: [58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 59: [59, 178, 89, 268, 134, 67, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 60: [60, 30, 15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 61: [61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 62: [62, 31, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 63: [63, 190, 95, 286, 143, 430, 215, 646, 323, 970, 485, 1456, 728, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 64: [64, 32, 16, 8, 4, 2, 1]
Number 65: [65, 196, 98, 49, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 66: [66, 33, 100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 67: [67, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 68: [68, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 69: [69, 208, 104, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 70: [70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 71: [71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 72: [72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 73: [73, 220, 110, 55, 166, 83, 250, 125, 376, 188, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 74: [74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 75: [75, 226, 113, 340, 170, 85, 256, 128, 64, 32, 16, 8, 4, 2, 1]
Number 76: [76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 77: [77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 78: [78, 39, 118, 59, 178, 89, 268, 134, 67, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 79: [79, 238, 119, 358, 179, 538, 269, 808, 404, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 80: [80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 81: [81, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 82: [82, 41, 124, 62, 31, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 83: [83, 250, 125, 376, 188, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 84: [84, 42, 21, 64, 32, 16, 8, 4, 2, 1]
Number 85: [85, 256, 128, 64, 32, 16, 8, 4, 2, 1]
Number 86: [86, 43, 130, 65, 196, 98, 49, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 87: [87, 262, 131, 394, 197, 592, 296, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 88: [88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 89: [89, 268, 134, 67, 202, 101, 304, 152, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 90: [90, 45, 136, 68, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 91: [91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 92: [92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 93: [93, 280, 140, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 94: [94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 95: [95, 286, 143, 430, 215, 646, 323, 970, 485, 1456, 728, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 96: [96, 48, 24, 12, 6, 3, 10, 5, 16, 8, 4, 2, 1]
Number 97: [97, 292, 146, 73, 220, 110, 55, 166, 83, 250, 125, 376, 188, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 98: [98, 49, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 99: [99, 298, 149, 448, 224, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
Number 100: [100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

If someone would like to go up to a different number other than $100$, then the range would be changed to $x+1$.

# Problem 4: Dropping Time Study

In order to study the dropping time of each number and compare them, we need to use the second function to determine the steps up to $100$.

In [74]:
def Collatz_Sequence_Steps_2(n):
  x = n
  m = [x]
  steps = 0
  while x > (n - 1):
    if x % 2 == 0:
      x = int(x / 2)
      m.append(x)
      steps = steps + 1
    else:
      x = int(3 * x + 1)
      m.append(x)
      steps = steps + 1
  return steps

In [75]:
for i in range(2,101):
  print("Number {}: {} Steps".format(i, Collatz_Sequence_Steps_2(i)))

Number 2: 1 Steps
Number 3: 6 Steps
Number 4: 1 Steps
Number 5: 3 Steps
Number 6: 1 Steps
Number 7: 11 Steps
Number 8: 1 Steps
Number 9: 3 Steps
Number 10: 1 Steps
Number 11: 8 Steps
Number 12: 1 Steps
Number 13: 3 Steps
Number 14: 1 Steps
Number 15: 11 Steps
Number 16: 1 Steps
Number 17: 3 Steps
Number 18: 1 Steps
Number 19: 6 Steps
Number 20: 1 Steps
Number 21: 3 Steps
Number 22: 1 Steps
Number 23: 8 Steps
Number 24: 1 Steps
Number 25: 3 Steps
Number 26: 1 Steps
Number 27: 96 Steps
Number 28: 1 Steps
Number 29: 3 Steps
Number 30: 1 Steps
Number 31: 91 Steps
Number 32: 1 Steps
Number 33: 3 Steps
Number 34: 1 Steps
Number 35: 6 Steps
Number 36: 1 Steps
Number 37: 3 Steps
Number 38: 1 Steps
Number 39: 13 Steps
Number 40: 1 Steps
Number 41: 3 Steps
Number 42: 1 Steps
Number 43: 8 Steps
Number 44: 1 Steps
Number 45: 3 Steps
Number 46: 1 Steps
Number 47: 88 Steps
Number 48: 1 Steps
Number 49: 3 Steps
Number 50: 1 Steps
Number 51: 6 Steps
Number 52: 1 Steps
Number 53: 3 Steps
Number 54: 1 Steps
Number 55: 8 Steps
Number 56: 1 Steps
Number 57: 3 Steps
Number 58: 1 Steps
Number 59: 11 Steps
Number 60: 1 Steps
Number 61: 3 Steps
Number 62: 1 Steps
Number 63: 88 Steps
Number 64: 1 Steps
Number 65: 3 Steps
Number 66: 1 Steps
Number 67: 6 Steps
Number 68: 1 Steps
Number 69: 3 Steps
Number 70: 1 Steps
Number 71: 83 Steps
Number 72: 1 Steps
Number 73: 3 Steps
Number 74: 1 Steps
Number 75: 8 Steps
Number 76: 1 Steps
Number 77: 3 Steps
Number 78: 1 Steps
Number 79: 13 Steps
Number 80: 1 Steps
Number 81: 3 Steps
Number 82: 1 Steps
Number 83: 6 Steps
Number 84: 1 Steps
Number 85: 3 Steps
Number 86: 1 Steps
Number 87: 8 Steps
Number 88: 1 Steps
Number 89: 3 Steps
Number 90: 1 Steps
Number 91: 73 Steps
Number 92: 1 Steps
Number 93: 3 Steps
Number 94: 1 Steps
Number 95: 13 Steps
Number 96: 1 Steps
Number 97: 3 Steps
Number 98: 1 Steps
Number 99: 6 Steps
Number 100: 1 Steps

Here, I begin with 2 because we are unable to gather the dropping time for 1 because decimals are not included in the sequence. As we figured out in Problem 2, the dropping time for even numbers is 1, because its Collatz sequence only takes on step until a *smaller* integer is found.

I noticed a few sequences with the Collatz conjecture from the numbers 1-100.

- First, I noticed that starting from 5 and adding 4 continously until the last term before 100, ($5, 9, 13, 17,..., 97$), each term has a dropping time of 3. Exceeding 100, the next term, 101, should also result in 3 as well.

In [85]:
print(Collatz_Sequence_Steps(101))

[101, 304, 152, 76]
3

- Second, I noticed that starting from 3 and adding 16 continously until the last term before 100, ($3, 19, 35, 51,..., 99$), each term has a dropping time of 6. Exceeding 100, the next term, 115 should be 6 as well.

In [84]:
print(Collatz_Sequence_Steps(115))

[115, 346, 173, 520, 260, 130, 65]
6

- Third, I noticed that starting from 11 and adding 12 then 20 then 12 then 20 and doing that continously until the last term before 100, ($11, 23, 43, 55,..., 87$), each term has a dropping time of 8. Exceeding 100, the next two terms,107 and 119 should be 8 as well.

In [81]:
print(Collatz_Sequence_Steps(107))

[107, 322, 161, 484, 242, 121, 364, 182, 91]
8

In [83]:
print(Collatz_Sequence_Steps(119))

[119, 358, 179, 538, 269, 808, 404, 202, 101]
8

- Lastly, I did notice that ($7, 15, 59$) has a dropping time of 11 and ($39, 79, 95$) has a dropping time of 13. Although they have the same dropping times, I did not recognize a pattern here. ($27, 31, 71, 91$) resulted in different dropping times.

# Problem 5: Other Collatz Conjecture Studies

In [95]:
print(Collatz_Sequence(-4))

[-4]

A negative shouldn't result in anything because the Collatz conjecture requires the integer to positive. So, I believe the function should include an error if a person inputs a negative number. Like this:

In [101]:
def Collatz_Sequence_3(n):
  if n < 1:
    raise ValueError('Positive input only please!')  
  x = n
  m = [x] 
  while x > 1:
    if x % 2 == 0:
      x = int(x / 2)
      m.append(x)
    else:
      x = int(3 * x + 1)
      m.append(x)
  return m

In [107]:
print(Collatz_Sequence_3(-4))

ValueError: ignored

In [97]:
print(Collatz_Sequence(1000000000000000000001))

[1000000000000000000001, 3000000000000000000004, 1500000000000000000000, 750000000000000000000, 375000000000000000000, 187500000000000000000, 93750000000000000000, 46875000000000000000, 23437500000000000000, 11718750000000000000, 5859375000000000000, 2929687500000000000, 1464843750000000000, 732421875000000000, 366210937500000000, 183105468750000000, 91552734375000000, 45776367187500000, 22888183593750000, 11444091796875000, 5722045898437500, 2861022949218750, 1430511474609375, 4291534423828126, 2145767211914063, 6437301635742190, 3218650817871095, 9655952453613286, 4827976226806643, 14483928680419930, 7241964340209965, 21725893020629896, 10862946510314948, 5431473255157474, 2715736627578737, 8147209882736212, 4073604941368106, 2036802470684053, 6110407412052160, 3055203706026080, 1527601853013040, 763800926506520, 381900463253260, 190950231626630, 95475115813315, 286425347439946, 143212673719973, 429638021159920, 214819010579960, 107409505289980, 53704752644990, 26852376322495, 80557128967486, 40278564483743, 120835693451230, 60417846725615, 181253540176846, 90626770088423, 271880310265270, 135940155132635, 407820465397906, 203910232698953, 611730698096860, 305865349048430, 152932674524215, 458798023572646, 229399011786323, 688197035358970, 344098517679485, 1032295553038456, 516147776519228, 258073888259614, 129036944129807, 387110832389422, 193555416194711, 580666248584134, 290333124292067, 870999372876202, 435499686438101, 1306499059314304, 653249529657152, 326624764828576, 163312382414288, 81656191207144, 40828095603572, 20414047801786, 10207023900893, 30621071702680, 15310535851340, 7655267925670, 3827633962835, 11482901888506, 5741450944253, 17224352832760, 8612176416380, 4306088208190, 2153044104095, 6459132312286, 3229566156143, 9688698468430, 4844349234215, 14533047702646, 7266523851323, 21799571553970, 10899785776985, 32699357330956, 16349678665478, 8174839332739, 24524517998218, 12262258999109, 36786776997328, 18393388498664, 9196694249332, 4598347124666, 2299173562333, 6897520687000, 3448760343500, 1724380171750, 862190085875, 2586570257626, 1293285128813, 3879855386440, 1939927693220, 969963846610, 484981923305, 1454945769916, 727472884958, 363736442479, 1091209327438, 545604663719, 1636813991158, 818406995579, 2455220986738, 1227610493369, 3682831480108, 1841415740054, 920707870027, 2762123610082, 1381061805041, 4143185415124, 2071592707562, 1035796353781, 3107389061344, 1553694530672, 776847265336, 388423632668, 194211816334, 97105908167, 291317724502, 145658862251, 436976586754, 218488293377, 655464880132, 327732440066, 163866220033, 491598660100, 245799330050, 122899665025, 368698995076, 184349497538, 92174748769, 276524246308, 138262123154, 69131061577, 207393184732, 103696592366, 51848296183, 155544888550, 77772444275, 233317332826, 116658666413, 349975999240, 174987999620, 87493999810, 43746999905, 131240999716, 65620499858, 32810249929, 98430749788, 49215374894, 24607687447, 73823062342, 36911531171, 110734593514, 55367296757, 166101890272, 83050945136, 41525472568, 20762736284, 10381368142, 5190684071, 15572052214, 7786026107, 23358078322, 11679039161, 35037117484, 17518558742, 8759279371, 26277838114, 13138919057, 39416757172, 19708378586, 9854189293, 29562567880, 14781283940, 7390641970, 3695320985, 11085962956, 5542981478, 2771490739, 8314472218, 4157236109, 12471708328, 6235854164, 3117927082, 1558963541, 4676890624, 2338445312, 1169222656, 584611328, 292305664, 146152832, 73076416, 36538208, 18269104, 9134552, 4567276, 2283638, 1141819, 3425458, 1712729, 5138188, 2569094, 1284547, 3853642, 1926821, 5780464, 2890232, 1445116, 722558, 361279, 1083838, 541919, 1625758, 812879, 2438638, 1219319, 3657958, 1828979, 5486938, 2743469, 8230408, 4115204, 2057602, 1028801, 3086404, 1543202, 771601, 2314804, 1157402, 578701, 1736104, 868052, 434026, 217013, 651040, 325520, 162760, 81380, 40690, 20345, 61036, 30518, 15259, 45778, 22889, 68668, 34334, 17167, 51502, 25751, 77254, 38627, 115882, 57941, 173824, 86912, 43456, 21728, 10864, 5432, 2716, 1358, 679, 2038, 1019, 3058, 1529, 4588, 2294, 1147, 3442, 1721, 5164, 2582, 1291, 3874, 1937, 5812, 2906, 1453, 4360, 2180, 1090, 545, 1636, 818, 409, 1228, 614, 307, 922, 461, 1384, 692, 346, 173, 520, 260, 130, 65, 196, 98, 49, 148, 74, 37, 112, 56, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

I don't know how to answer the rest of the question.

# Overall Findings

While studying the dropping times of each number from 1 to 100, I noticed some patterns that can follow after 100. For even numbers, the dropping time is 1. The arithmetic sequence $a_n=a_{n-1}+4$ when $n>1$ and $a_1=5$ has the dropping time is 3. The arithmetic sequence $a_n=a_{n-1}+16$ when $n>1$ and $a_1=3$ has the dropping time is 6. The third arithmetic sequence $a_n=a_{n-1}+12$ when the $n$ in $a_n$ is even and $a_n=a_{n-1}+20$ when the $n$ in $a_n$ is odd, both when $n>1$ and $a_1=11$, has the dropping time 8. With the other numbers, I did not recognize a pattern.